*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;

}
body{
    
    min-height: 200vh;
    position: relative; 
}
main{
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 1rem;
    border: 3px solid #333;
    display: flex;
    min-height: 20rem;
    /* width: 100%; */
    justify-content: center;
    gap: 2.5rem;
    border-radius: 50px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    
}
/* .box1{
    padding-top: 5rem;
}
.box2{
    padding-top: 14rem;
}
.box3{
    padding-top: 12rem;
}
.box4{
    padding-top: 8rem;
}
.box5{
    padding-top: 10rem;
}
.box6{
    padding-top: 4.5rem;
} */
div{
    height: 150px;
    /* width: 150px; */
    color:whitesmoke;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 20px;
    padding: bottom 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-basis: 150px;
    border-radius: 0px;
    flex:1 1 250px
}
.box:nth-child(2){
    flex: 2 2 250px;
    
}
footer{
    
    position:absolute;
    bottom: 2rem;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
a{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    
}
a:hover{
    background-color: rgba(0, 0, 0, 0.19);
    border:5px solid black;
    color: black;
    
}

